<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="list">
        {{#each post}}

            <div id="caja">
                <img src="{{this.url}}">
                <h1>{{this.titulo}}</h1>
                <h3>{{this.descripcion}}</h3>
                <h5>{{this.fecha}}</h5>
                <div id="botones">
                    <a href="fotos/delete/{{ this.id }}"><button>Borrar</button></a>
                    <a href="fotos/edit/{{this.id}}"><button>Editar</button></a>
                    
                </div>
            </div>
            
        {{/each}}

    </section>

    
</body>
</html>
